@import "../../../variables";

.main-carousel {
  height: 100%;
  overflow: hidden !important;

  @media (min-width: $mq-tablet) {
    height: 39.4vw;
  }

  @media (min-width: $mq-wide) {
    height: 630px;
  }

  .flickity-viewport {
    height: 100% !important;
  }

  .carousel-cell {
    margin-right: 15px;

    @media (min-width: $mq-tablet) {
      margin-right: 25px;
    }

    img {
      padding: 0 1px;
      object-fit: cover;
      min-height: 200px;

      @media (min-width: $mq-tablet) {}

      @media (min-width: $mq-wide) {
        height: 630px;
        max-height: unset;
      }
    }
  }

  &.big {
    @media (min-width: $mq-tablet) {
      height: 50vw;
    }

    @media (min-width: $mq-wide) {
      height: 800px;
    }

    .carousel-cell {
      img {
        @media (min-width: $mq-wide) {
          max-height: unset;
        }
      }
    }
  }
}

.arrows {
  &.inside {
    @media (max-width: ($mq-tablet - 1px)) {
      display: none !important;
    }
    position: absolute;
    bottom: 22px;
    left: 22px;

    .arrow {
      cursor: pointer;

      svg {
        rect {
          fill: var(--text-color, $black) !important;
          fill-opacity: 0;
          stroke: var(--text-color, #b9bab7) !important;
        }
        path {
          fill: var(--text-color, #b9bab7) !important;
        }
      }

      &:hover {
        svg {
          rect,
          g rect {
            fill-opacity: 1;
            stroke: var(--background-color, $white) !important;
            fill: var(--text-color, #b9bab7) !important;
          }
          path,
          g path {
            fill: var(--background-color, $white) !important;
          }
        }
      }
    }
  }

  &.outside {

    @media (max-width: ($mq-tablet - 1px)) {
      display: none !important;
    }

    margin-top: 22px;

    .arrow {
      svg {
        rect {
          fill: var(--background-color, $white) !important;
          fill-opacity: 0;
          stroke: var(--text-color, #b9bab7) !important;
        }
        path {
          fill: var(--text-color, #b9bab7) !important;
        }
      }

      &:hover {
        svg {
          rect,
          g rect {
            fill-opacity: 1;
            stroke: var(--background-color, $white) !important;
            fill: var(--text-color, #b9bab7) !important;
          }
          path,
          g path {
            fill: var(--background-color, $white) !important;
          }
        }
      }
    }
  }

  display: flex;
  gap: 10px;

  .arrow {
    display: flex;
    width: 52px;

    svg {
      rect {
        stroke: var(--text-color, #b9bab7) !important;
      }
      path {
        fill: var(--text-color, #b9bab7) !important;
      }
      * {
        transition: all .5s;
      }
    }

    &:hover {
      svg {
        rect,
        g rect {
          stroke: var(--background-color, $white) !important;
        }
        path,
        g path {
          fill: var(--background-color, $white) !important;
        }
      }
    }
  }
}