<div *ngIf="portfolio" [style.--text-color]="portfolio?.portfolioSingleFields?.textColor"
  [style.--background-color]="portfolio?.portfolioSingleFields?.backgroundColor"
  [style.--body-bg]="portfolio?.portfolioSingleFields?.backgroundColor"
  [style.--button-text-color]="portfolio?.portfolioSingleFields?.buttonTextColor">
  <app-header></app-header>
  <app-layout>
    <div
      class="wrapper wrapper--m-bottom-25 wrapper--m-top-0 d-flex flex-column justify-content-between gap-m-100">
      <div class="d-flex justify-content-between gap-30">
        <div class="container container--medium">
          <app-paragraph-reveal classSelector="title">
            <h1 class="title text-uppercase" [innerHTML]="portfolio.portfolioSingleFields?.title">
            </h1>
          </app-paragraph-reveal>
        </div>
      </div>
      <div
        class="wrapper wrapper--left-0 wrapper--right-0 wrapper--top-0 wrapper--bottom-0 wrapper--m-bottom-50 grid-m-21">
        <div class="col-left">
          <div class="container container--small">
            <p class="text" [innerHTML]="portfolio.portfolioSingleFields?.description"></p>
          </div>
        </div>
        <div class="col-right">
          <div class="container container--small container--align-right width-100">
            <div class="categories" *ngIf="portfolio?.categories?.edges && portfolio?.categories?.edges.length > 0">
              <ul class="categories-list">
                <li class="category-item" *ngFor="let category of portfolio.categories.edges">
                  <span class="text text-s text-uppercase">{{ category.node.name }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="wrapper wrapper--m-bottom-50 d-flex flex-column gap-50 gap-m-100">
      <div class="gallery">
        <app-gallery-horizontal #gallery [gallery]="portfolio?.portfolioSingleFields?.mainGallery?.edges"
          [showButtons]="true" [showButtonsOutside]="true"></app-gallery-horizontal>
      </div>
      <div class="container container--small container--align-right">
        <p class="text">{{ portfolio.portfolioSingleFields?.galleryDescription }}</p>
      </div>
    </div>
    <div class="wrapper wrapper--m-top-50 wrapper--bottom-0 wrapper--m-bottom-25"
      *ngIf="portfolio?.portfolioSingleFields?.image1?.node?.srcSet || portfolio?.portfolioSingleFields?.video1">
      <div class="images"
        [ngClass]="{'images--left': portfolio?.portfolioSingleFields?.block1Position == 'left', 'images--right': portfolio?.portfolioSingleFields?.block1Position == 'right'}">
        <div class="image-item" *ngIf="portfolio?.portfolioSingleFields?.image1?.node?.srcSet">
          <img class="img img--full" [srcset]="portfolio?.portfolioSingleFields?.image1?.node?.srcSet"
            [alt]="portfolio?.portfolioSingleFields?.image1?.node?.title">
        </div>
        <div class="video-item"
          *ngIf="!portfolio?.portfolioSingleFields?.image1?.node?.srcSet && portfolio?.portfolioSingleFields?.video1">
          <iframe class="video img--full" [src]="embedUrlVideo1" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="wrapper wrapper--bottom-30 wrapper--m-top-0 wrapper--m-bottom-50"
      *ngIf="(portfolio?.portfolioSingleFields?.image2?.node?.srcSet && portfolio?.portfolioSingleFields?.image3?.node?.srcSet) || portfolio?.portfolioSingleFields?.video23">
      <div class="images images--inline"
        [ngClass]="{'images--left': portfolio?.portfolioSingleFields?.block23Position == 'left', 'images--right': portfolio?.portfolioSingleFields?.block23Position == 'right'}">
        <ng-container
          *ngIf="portfolio?.portfolioSingleFields?.image2?.node?.srcSet && portfolio?.portfolioSingleFields?.image3?.node?.srcSet">
          <div class="image-item">
            <img class="img img--full" [srcset]="portfolio?.portfolioSingleFields?.image2?.node?.srcSet"
              [alt]="portfolio?.portfolioSingleFields?.image2?.node?.title">
          </div>
          <div class="image-item">
            <img class="img img--full" [srcset]="portfolio?.portfolioSingleFields?.image3?.node?.srcSet"
              [alt]="portfolio?.portfolioSingleFields?.image3?.node?.title">
          </div>
        </ng-container>
        <div class="video-item"
          *ngIf="(!portfolio?.portfolioSingleFields?.image2?.node?.srcSet || !portfolio?.portfolioSingleFields?.image3?.node?.srcSet) && portfolio?.portfolioSingleFields?.video23">
          <iframe class="video img--full" [src]="embedUrlVideo23" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="wrapper wrapper--m-top-50 wrapper--m-bottom-50"
      *ngIf="portfolio?.portfolioSingleFields?.quote">
      <div class="testimonial">
        <p class="testimonial-quote">"{{portfolio?.portfolioSingleFields?.quote}}"</p>
        <div class="testimonial-info">
          <span class="testimonial-name title-xs"
            *ngIf="portfolio?.portfolioSingleFields?.quoteName">{{portfolio?.portfolioSingleFields?.quoteName}}</span>
          <span class="testimonial-title text-s"
            *ngIf="portfolio?.portfolioSingleFields?.quoteTitle">{{portfolio?.portfolioSingleFields?.quoteTitle}}</span>
          <span class="testimonial-company text-s"
            *ngIf="portfolio?.portfolioSingleFields?.quoteCompany">{{portfolio?.portfolioSingleFields?.quoteCompany}}</span>
        </div>
      </div>
    </div>
    <div class="wrapper wrapper--m-top-50 wrapper--m-bottom-50"
      *ngIf="portfolio?.portfolioSingleFields?.image4?.node?.srcSet || portfolio?.portfolioSingleFields?.video4 || portfolio?.portfolioSingleFields?.image5?.node?.srcSet || portfolio?.portfolioSingleFields?.video5">
      <div class="images images--column"
        [ngClass]="{'images--left': portfolio?.portfolioSingleFields?.block45Position == 'left', 'images--right': portfolio?.portfolioSingleFields?.block45Position == 'right'}">
        <div class="image-item" *ngIf="portfolio?.portfolioSingleFields?.image4?.node?.srcSet">
          <img class="img img--full" [srcset]="portfolio?.portfolioSingleFields?.image4?.node?.srcSet"
            [alt]="portfolio?.portfolioSingleFields?.image4?.node?.title">
        </div>
        <div class="video-item"
          *ngIf="!portfolio?.portfolioSingleFields?.image4?.node?.srcSet && portfolio?.portfolioSingleFields?.video4">
          <iframe class="video img--full" [src]="embedUrlVideo4" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="image-item" *ngIf="portfolio?.portfolioSingleFields?.image5?.node?.srcSet">
          <img class="img img--full" [srcset]="portfolio?.portfolioSingleFields?.image5?.node?.srcSet"
            [alt]="portfolio?.portfolioSingleFields?.image5?.node?.title">
        </div>
        <div class="video-item"
          *ngIf="!portfolio?.portfolioSingleFields?.image5?.node?.srcSet && portfolio?.portfolioSingleFields?.video5">
          <iframe class="video img--full" [src]="embedUrlVideo5" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="wrapper wrapper--m-top-50 wrapper--m-bottom-50">
      <div class="container container--small">
        <p class="text" [innerHTML]="portfolio.portfolioSingleFields?.description2"></p>
      </div>
    </div>
    <div class="wrapper wrapper--m-top-50 wrapper--m-bottom-50">
      <div class="gallery">
        <app-gallery-horizontal #gallery [gallery]="portfolio?.portfolioSingleFields?.bottomGallery?.edges"
          [showButtons]="true" [showButtonsOutside]="true"></app-gallery-horizontal>
      </div>
    </div>
    <div class="wrapper wrapper--m-top-50 wrapper--m-bottom-50"
      *ngIf="nextProjectUri">
      <div class="container d-flex justify-content-tablet-end">
        <h2 class="title title-s w-min text-uppercase text-tablet-end">
          <a class="link link--black" [routerLink]="nextProjectUri">Next<br>Project</a>
        </h2>
      </div>
    </div>
  </app-layout>
  <app-footer></app-footer>
</div>