@import "../../../variables";

.text-carousel {
  max-width: 900px;
  //margin-left: -30px;
  .carousel-cell {
    //width: calc(100% - 100px);
    padding: 0 30px 0 0;
    @media (min-width: $mq-tablet) {
      //width: 80%;
      //padding: 0 25px;
    }    
    @media (min-width: $mq-desktop) {
      //padding: 0 50px;
    }    
    @media (min-width: $mq-wide) {
      //width: calc(100% - 920px);
      //padding: 0 75px;
    }  
    
    .testimonial-slider {
      transition: all .5s;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 75px;
      @media (min-width: $mq-tablet) {
        gap: 35px;
      }
      @media (min-width: $mq-desktop) {
        gap: 70px;
        padding-bottom: 90px;
      }
      color: $grey;

      .testimonial-quote{
        margin-bottom: 0;
      }

      .testimonial-info {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .testimonial-name {}

        .testimonial-title {}

        .testimonial-company {
          color: $grey;
        }
      }
    }
    &.is-selected{
      .testimonial-slider {
        color: $black;
        .testimonial-info {

          .testimonial-name {}

          .testimonial-title {}

          .testimonial-company {

          }
        }
      }
    }
  }
}
.arrows{
  
  @media (min-width: $mq-tablet) {
    //width: 80%;
  }    
  @media (min-width: $mq-desktop) {
    
  }    
  @media (min-width: $mq-wide) {
    //width: calc(100% - 920px);
  }  
  margin: 0 auto;
  display: flex;
  gap: 10px;
  .arrow{
    cursor: pointer;
    display: block;
    width: 54px;
    height: 33px;
    svg {
      width: 100%;
      height: 100%;
      display: block;
      rect {
        fill: var(--text-color, #b9bab7) !important;
        fill-opacity: 0;
        stroke: var(--text-color, #b9bab7) !important;
        transition: fill-opacity .5s ease, stroke .5s ease, fill .5s ease;
      }
      path {
        fill: var(--text-color, #b9bab7) !important;
        transition: fill .5s ease;
      }
    }
    &:hover{
      svg{
        rect,
        g rect {
          fill-opacity: 1;
          stroke: var(--background-color, $white) !important;
          fill: var(--text-color, #b9bab7) !important;
        }
        path,
        g path {
          fill: var(--background-color, $white) !important;
        }
      }
    }
  }
}
